.bgColor{
    background: #131720;
}
img{
    width: 100%;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: Rubik;
}
.sec-headings{
color: #FFF;
font-family: Rubik;
font-size: 36px;
font-weight: 400;
}
.creators-icons{
    max-width: 40px;
    width: 100%;
}
.creators-name{
color: #BFBFBF;
text-align: center;
font-family: Rubik;
font-size: 20px;
font-weight: 500;
}
.live-circle{
    border: 5px solid #D32A2A;
    border-radius: 50%;
}
.active-circle{
    border: 5px solid #03FF5C80;
    border-radius: 50%;
}
.booked-circle{
    border: 5px solid #FFE42199;
    border-radius: 50%;
}
a{
    text-decoration: none;
}
.camclients-topbar .topbar-dropdown ul{
    list-style: none;
}
.camclients-topbar .topbar-dropdown ul li {
    position: relative;
    display: inline-block;
}
.camclients-topbar .topbar-dropdown ul li a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    font-family: Arial;
    font-weight: 700;
    padding: 10px 15px;
}
.camclients-topbar .topbar-dropdown ul li ul {
    padding: 0 !important;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 5px;
    width: 235px;
    background: #8F0C33;
    border-radius: 5px;
    transition: 0.3s;
}
.camclients-topbar .topbar-dropdown ul li:hover ul{
    opacity:1;
    visibility: visible;
    display: block;
    z-index: 1;
    border-radius: 5px;
}
.camclients-topbar .topbar-dropdown ul li ul li{
    display: inline-block;
}
.camclients-topbar .topbar-dropdown ul li ul li a{
    display: inline-block;
    width: 100%;
}
.camclients-topbar .topbar-dropdown ul li ul li a:hover{
    background-color: #df3d3d;
    border-radius: 5px;
}
.topbar-search{}
.topbar-search form{
    position: relative;
}
.topbar-search form input{
    width: 100%;
    outline: none;
    background: #151F30;
    border: none;
    height: 40px;
    padding: 11.5px 60px 11.5px 20px;
    align-items: center;
    color: #fff;
    border-radius: 15px;
    
}
.topbar-search form button {
    background: none;
    color: #FF2363;
    border: none;
    outline: none;
    position: absolute;
    top: 5px;
    right: 15px;
}

.topbar-signin img{
    padding-bottom: 5px;
    margin: 0 3px;
}
.topbar-signin a{
color: #E0E0E0;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 21px;
text-decoration: none;
display: inline-block;
transition: 0.3s;
}
.topbar-signin a:hover{
    color: #FF2363;
}

.main-navigation{
    background-color: #8F0C33 !important;
}
.main-navigation ul li{
    padding: 0;
    margin: 0;
}
.main-navigation ul li a{
color: #FFF;
text-align: center;
font-family: Arial;
font-size: 17px;
font-weight: 700;
display: inline-block;
padding: 10px 18px !important;
transition: 0.4s;
}
.main-navigation ul li a:hover{
background-color: #FF0000;
color: #fff;
}
.main-navigation ul li a:active{
background-color: #FF0000 !important;
}
.main-navigation ul li a img {
    width: 18px;
    margin-right: 7px;
    position: relative;
    bottom: 2px;
}
.nav-item-live IMG{
    position: relative;
    top: 2px;
    left: 0px;
    width: 14px !important;
}

.camclients-hero-section{
    background-image: url(./../Images/Camclients\ hero\ section\ backgound\ image.webp);
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.camclients-hero-section::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.29);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.camclients-hero-content{
    position: relative;
    z-index: 11;
}
.camclient-hero-text h1{
color: #FFF;
text-align: center;
text-shadow: 0px 0px 15px #F00;
font-family: Sitka;
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 12.8px;
}
.camclient-hero-text h2 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 8px #F00;
    font-family: Sitka;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: rgba(255, 255, 255, 0.15);
    display: inline-block;
    padding: 4px 35px;
    border-radius: 40px;
}
.carousel-buttons{
    clear: both;
    align-items: center;
    position: relative;
    top: 90px !important;
}
.carousel-buttons .left-button{
    float: left;
    width: 50px;
    background: none;
    border: none;
    margin-right: 10px;
}
.carousel-buttons .right-button{
    float: right;
    width: 50px;
    background: none;
    border: none;
    margin-left: 10px;
}

.creator-profile .profile-image{
    max-width: 170px;
    width: 100%;
}
.trending-image{
    position: relative;
}
.trending-image .creator-image{
    max-width: 150px;
    width: 100%;
}
.trending-image .status-icon {
    position: absolute;
    top: 20px;
    right: -10px;
    width: 25px !important;
}
.featured-callers .carousel-buttons{
    clear: both;
    align-items: center;
    position: relative;
    top: 160px !important;
}
.all-top-models {
    position: relative;
    z-index: 1;
}
.all-top-models::after{
    content: "";
    height: 100% !important;
    width: 100% !important;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(180deg,rgba(0,0,0,0) 80% , rgba(0,0,0,1)97%);
    border-radius: 30px;
    cursor: pointer;
}
.all-top-models .top-models-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
    /* background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 89%); */
}
.all-top-models img{
    position: relative;
    z-index: 1;
    border-radius: 30px;
}
.top-models-content{
    border-radius: 30%;
}
.green-icon{
    color: #03FF5C;
}
.white-icon{
    color: #FFE4C4;
}
.contact-icons{
    font-size: 18px;
    padding: 0 5px;
    transition: 0.3s;
}
.contact-icons:hover{
    color: #FF2363;
}
.top-model-username {
    font-size: 14px;
    font-family: 'Rubik';
    font-weight: 500;
    color: #ff2363;
}
.video-call{
    overflow: hidden;
}
.video-call .carousel-buttons{
    clear: both;
    align-items: center;
    position: relative;
    top: 200px!important;
}
.video-call h4{
color: #D32A2A;
font-family: Rubik;
font-size: 16px !important;
font-weight: 500;
margin-top: 20px;
}
.video-callers-icons{
    margin-top: -35px;
    z-index: 10;
}

.camclients-captains{}
.camclients-captains .captains-profile{}
.camclients-captains .captains-images{}
.camclients-captains .captains-images img{}
.camclients-captains .captains-details{}
.camclients-captains .captains-details h3{
    font-size: 15px;
    color: #fff;
    transition: 0.3s;
}
.camclients-captains .captains-details h3:hover{
    color: #FF2363;
}
.camclients-captains .captains-details h6{
    font-size: 12px;
    color: #EF377A;
}
.captains-details .contact-icons {
    font-size: 15px;
    display: inline-block;
    padding: 4px 8px;
    background: #FFFFFF1A;
    margin-top: 8px;
    margin-right: 2px;
}
.captains-details .white-icon {
    border-radius: 10px 25px 25px 25px;
}
.captains-details .green-icon {
    border-radius: 25px 25px 25px 10px;
}
.captains-details .video-icon{
    border-radius: 25px 25px 10px 25px;
}
.camclients-feed{}
.camclients-feed .feed-content{}
.camclients-feed .feed-content .card {
    background-color: #FFFFFF26;
    padding: 10px;
    border-radius: 25px;
}
.camclients-feed .feed-content .card-image{
    position:relative;
}
.camclients-feed .feed-content .card-image h4 {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #EF377A;
}
.camclients-feed .feed-content .card-image img{}
.camclients-feed .feed-content .card-content{}
.camclients-feed .feed-content .card-content .card-profile img {
    width: 100% !important;
    border-radius: 50%;
    margin-left: 10px;
}   
.camclients-feed .feed-content .card-content p {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    margin-left: 17px;
}
.camclients-feed .feed-content .card-content .white-icon{
    font-size: 15px;
    display: inline-block;
    padding: 4px 8px;
    background: #FFFFFF1A;
    margin-top: 8px;
    margin-right: 2px;
    border-radius: 10px 25px 25px 25px;
    color: #A19221;
}
.camclients-feed .feed-content .card-content .green-icon{
    font-size: 15px;
    display: inline-block;
    padding: 4px 8px;
    background: #FFFFFF1A;
    margin-top: 8px;
    margin-right: 2px;
    border-radius: 25px 25px 25px 10px;
    color: #0B8B3E;
}
.camclients-feed .feed-content .card-content .video-icon{
    font-size: 15px;
    display: inline-block;
    padding: 4px 8px;
    background: #FFFFFF1A;
    margin-top: 8px;
    margin-right: 2px;
    border-radius: 25px 25px 10px 25px;
    color: #D32A2A;
}

.feed-load-more{
    text-align: center;
    padding-top: 30px;
}
.feed-load-more button {
    background-color: #EF377A;
    color: #fff;
    font-size: 20px;
    font-family: 'Rubik';
    font-weight: 500;
    padding: 7px 23px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
}
.camclients-footer{
    background: rgb(21,31,48);
    background: linear-gradient(180deg, rgba(21,31,48,1) 35%, rgba(19,23,32,1) 100%);
}
.camclients-footer .footer-logo{}
.camclients-footer .footer-logo img{
    width: 50%;
    margin-bottom: 20px;
}
.camclients-footer .footer-text{}
.camclients-footer .footer-text p{
    font-family: inter;
    font-size: 14px;
    font-weight: 400;
    color: #E0E0E0;
}
.camclients-footer .footer-social{}
.camclients-footer .footer-social span {
    font-size: 20px;
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
}
.camclients-footer .footer-social .facebook {
    color: #fff;
    background: #3B5998;
}
.camclients-footer .footer-social .twitter {
    color: #fff;
    background: #55ACEE;
}
.camclients-footer .footer-social .insta {
    color: #000;
    background: #fff;
}
.camclients-footer .footer-social .vk {
    color: #fff;
    background: #4C6C91;
}
.camclients-footer .footer-social .tiktok {
    color: #fff;
    background: #010101;
}
.footer-links{}
.footer-links h4{
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.footer-links ul{
    list-style: none;
    margin-left: 0 !important;
}
.footer-links ul li{
   padding: 5px 0;
}
.footer-links ul li a {
    color: #fff;
    font-family: inter;
    font-size: 14px;
}

.copyright{
    border-top: 1px solid #172337;
    
}
.copyright p{
    color: #E0E0E0;
    font-family: inter;
    font-size: 14px;
    font-weight: 400;
}
.copyright a{
    color: #E0E0E0;
    font-family: inter;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
}