img{
    width: 100%;

}
.topbar{
    background-color: #131720;
}
.topbar .topbartoggle{
    font-weight: 700;
    font-family: arial;
}
.topbar-search form input{
    padding: 3px 10px; 
    border-radius: 5px; 
    outline: none;
    background-color: #151F30; 
    border: none; 
    color: #fff !important; 
    font-family: inter;
}
.topbar-search button{
    font-weight: 500;
    font-family: inter;
}
.topbar-points .topbaricon01 {
    margin-right: 5px;
    width: 20px;    
}
.topbar-points .topbaricon02{
    margin-left: 15px;
    width: 20px;
}
.main-navigation{
    background-color: #8F0C33;
}
.main-navigation ul li{
    padding: 0;
    margin: 0;
}
.main-navigation ul li a{
color: #FFF;
text-align: center;
font-family: Arial;
font-size: 17px;
font-weight: 700;
display: inline-block;
padding: 10px 18px !important;
transition: 0.4s;
}
.main-navigation ul li a:hover{
background-color: #FF0000;
color: #fff;
}
.main-navigation ul li a:active{
background-color: #FF0000 !important;
}
.main-navigation ul li a img {
    width: 18px;
    margin-right: 7px;
    position: relative;
    bottom: 2px;
}
.camclients-hero-section{
    background-image: url(./Images/Camclients\ hero\ section\ backgound\ image.webp);
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.camclients-hero-section::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.29);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.camclients-hero-section img{
    width: 260px;
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
}
.camclients-hero-content{
    position: relative;
    z-index: 11;
}
.camclient-hero-text h1{
color: #FFF;
text-align: center;
text-shadow: 0px 0px 15px #F00;
font-family: Sitka;
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 12.8px;
}
.camclient-hero-text h2{
color: #FFF;
text-align: center;
text-shadow: 0px 0px 8px #F00;
font-family: Sitka;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.camclients-new-creator{
    background-color: #131720;
    overflow: hidden;
}
.creator-heading{
    font-size: 36px;
    font-weight: 400;
    font-family: rubik;
    color:#fff;
}
.creator-carousel-items{}
.creator-carousel-items .carousel-single-card{}
.creator-carousel-items .carousel-single-card .carousel-single-image img{
    border: 8px solid #D32A2A;
    border-radius: 50%;
}
.creator-carousel-items .carousel-single-card .carousel-icons img{
    max-width: 40px;
    width: 100%;
}
.creator-carousel-items .carousel-single-card .carousel-user-name h3{
color: #BFBFBF;
text-align: center;
font-family: Rubik;
font-size: 20px;
font-weight: 500;
}
